definitions:
  domain.AccountType:
    enum:
    - bank
    - cash
    - credit_card
    - investment
    - other
    type: string
    x-enum-varnames:
    - AccountTypeBank
    - AccountTypeCash
    - AccountTypeCreditCard
    - AccountTypeInvestment
    - AccountTypeOther
  dto.AccountResponse:
    properties:
      color:
        type: string
      created_at:
        type: string
      currency:
        type: string
      icon:
        type: string
      id:
        type: string
      initial_balance:
        type: number
      name:
        type: string
      tenant_id:
        type: string
      type:
        $ref: '#/definitions/domain.AccountType'
      updated_at:
        type: string
    type: object
  dto.AuthResponse:
    properties:
      access_token:
        type: string
      refresh_token:
        type: string
      user:
        $ref: '#/definitions/dto.User'
    type: object
  dto.CreateAccountRequest:
    properties:
      color:
        type: string
      currency:
        type: string
      icon:
        type: string
      initial_balance:
        type: number
      name:
        type: string
      type:
        $ref: '#/definitions/domain.AccountType'
    required:
    - name
    - type
    type: object
  dto.RegisterRequest:
    properties:
      email:
        type: string
      full_name:
        type: string
      password:
        minLength: 6
        type: string
    required:
    - email
    - full_name
    - password
    type: object
  dto.User:
    properties:
      email:
        type: string
      id:
        type: string
    type: object
  handler.ErrorResponse:
    properties:
      error:
        type: string
    type: object
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Financial tracking API documentation.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: FinTrack API
  version: "1.0"
paths:
  /accounts:
    get:
      consumes:
      - application/json
      description: list accounts by tenant ID
      parameters:
      - description: Tenant ID
        in: header
        name: X-Tenant-ID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dto.AccountResponse'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      security:
      - AuthPassword: []
      summary: List accounts
      tags:
      - accounts
    post:
      consumes:
      - application/json
      description: create a new account
      parameters:
      - description: Create account
        in: body
        name: account
        required: true
        schema:
          $ref: '#/definitions/dto.CreateAccountRequest'
      - description: Tenant ID
        in: header
        name: X-Tenant-ID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.AccountResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      security:
      - AuthPassword: []
      summary: Create an account
      tags:
      - accounts
  /accounts/{id}:
    get:
      consumes:
      - application/json
      description: get account by ID
      parameters:
      - description: Account ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.AccountResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      security:
      - AuthPassword: []
      summary: Get an account
      tags:
      - accounts
  /auth/login:
    post:
      consumes:
      - multipart/form-data
      description: Login with username and password
      parameters:
      - description: Username
        in: formData
        name: username
        required: true
        type: string
      - description: Password
        in: formData
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.AuthResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: Login
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Register a new user with full name, email and password
      parameters:
      - description: Register User
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterRequest'
      - description: Tenant ID
        in: header
        name: X-Tenant-ID
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.AuthResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: Register a new user
      tags:
      - auth
securityDefinitions:
  AuthPassword:
    flow: password
    tokenUrl: /auth/login
    type: oauth2
swagger: "2.0"
